<%= render "shared/searchbar" %>
  <div class="moviesresult">
    <% @movies["results"].each do |movie| %>
    <div style="display: flex;justify-content: center; height: 25px;"><p><strong style="color: #DAAD00;"><%= movie["title"] %></strong></p></div>
      <%= link_to movie_path(movie["original_title"]), style: "height: 200px;" do %>
      <div class="movieresult">
       <div class="movie">
        <div class="rating">
        <span>⭐ <%= movie["vote_average"].round(2) %></span>
        </div>
        <%= image_tag "https://image.tmdb.org/t/p/w200#{movie['poster_path']}", alt: movie["title"] %>
        <p><%= @genres[movie["genre_ids"].first] %></p>
        </div>
      <div class="movie-details">
        <div class="movie-meta">
          <p>Release date :</p>
            <span><%= movie["release_date"] %></span>
          <p>Overview</p>
            <p style="display: flex;color: #FAE9B8;text-align: initial;font-size: 12px;"><%= truncate(movie["overview"], length: 100, separator: '', omission: '...')%></p>
        </div>
      </div>
    </div>
    <hr>
      <% end %>
    <% end %>
</div>
