<div class="container">
  <h1>Search Bar</h1>
  <h1>Results for XXX</h1>

  <ul class="remove-bullet">
    <% @movies.each do |movie| %>
      <li>
        <div class="responsive-poster-pref">

          <div class="flexsearched">
            <div>
              <i class="fa-solid fa-heart likeplacement"></i>
              <%= image_tag movie.poster_path, alt: "#{movie.original_title} Poster", class: "card-movieposter-pref postersearched" %>
              <div class="voteplacementsearch"><p> <%= movie.vote_average %> <i class="fa-solid fa-star"></i></p></div>
            </div>
            <div class="descriptionsearch">
              <h4 style="color: #DAAD00"><%= movie.original_title %></h4>
              <p><i class="fa-regular fa-calendar-check"></i><%= movie.release_date %></p>
              <p><i class="fa-regular fa-clock"></i><%= movie.runtime %></p>
              <p><i class="fa-solid fa-film"></i><%= movie.genres %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
