<div class="movie-poster", style="background-image:url('<%= @movie.poster_path %>')">
	<h1 class="movie-title"><%= @movie.original_title %></h1>
	<button class="movie-trailer">Watch trailer: <i class="fa-solid fa-play"></i></button>
</div>

<div class="container-show">

	<button>Add to my favorites: <i class="fa-solid fa-thumbs-up"></i></button>
	
	<div class="movie-infos">
		<h2>RATING:</h2> 
			<div class="rating">
				<p><%= @movie.vote_average.round(2)%>/10</p>
				<div class="rating-stars">
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
				</div>
			</div>
		<h2>SYNOPSIS:</h2> 
			<p><%= @movie.overview%></p>
		<h2>DIRECTOR:</h2> 
			<p>Brian Levant</p>
		<h2>CASTING:</h2>
			<div class="actors">
				<p>Arnold Schwarzenegger</p>
				<p>Jake Llyod</p>
				<p>Phil Hartman</p>
			</div>
		<h2>GENRES:</h2> <p><%= @movie.genres%></p>
	</div>

	<div class="movie-availability">
		<h2>See it at home</h2>
		<img src="<%= image_path('https://image.tmdb.org/t/p/original/97yvRBw1GzX7fXprcF80er19ot.jpg') %>" alt="Logo Disney+", class="stream_icon"/>
		<img src="<%= image_path('https://image.tmdb.org/t/p/original/9ghgSC0MA082EL6HLCW3GalykFD.jpg') %>" alt="Logo Apple TV", class="stream_icon"/>
	</div>

	<div class="movie-map">
		<h2>See it in theaters or buy it</h2>
		<img src="<%= image_path('https://www.istanbul-visit.com/carte/etats-unis/california/los-angeles/atlas_plan_de_la.gif') %>" alt="Map L.A.", class="map"/>
	</div>

</div>
