

<!-- Scrollable modal -->

<div class="modal fade genre-modal" id="genresModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Categories</h5>
      </div>
      <div class="modal-body">
        <div class="filter-bar-container">
          <div class="filter-bar">
            <div class="filter-bar-inner">
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Action' }), class: "filter-btn" do %>
                    <p><i class="fas fa-fist-raised"></i> Action </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Adventure' }), class: "filter-btn" do %>
                    <p><i class="fas fa-sailboat"></i> Adventure </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Animation' }), class: "filter-btn" do %>
                    <p><i class="fas fa-face-smile-beam"></i> Animation </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Comedy' }), class: "filter-btn" do %>
                    <p><i class="fas fa-masks-theater"></i> Comedy </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Drama' }), class: "filter-btn" do %>
                    <p><i class="fas fa-face-sad-cry"></i> Drama </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Fantasy' }), class: "filter-btn" do %>
                    <p><i class="fas fa-magic"></i> Fantasy </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'History' }), class: "filter-btn" do %>
                    <p><i class="fas fa-landmark"></i> History </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Horror' }), class: "filter-btn" do %>
                    <p><i class="fas fa-ghost"></i> Horror </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Romance' }), class: "filter-btn" do %>
                    <p><i class="fas fa-heart"></i> Romance </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Sci-Fi' }), class: "filter-btn" do %>
                    <p><i class="fas fa-rocket"></i> Sci-Fi </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Thriller' }), class: "filter-btn" do %>
                    <p><i class="fas fa-skull-crossbones"></i> Thriller </p>
                  <%# <% end %>
                </div>
                <div class="filter-btn">
                  <%# <%= link_to root_path(params: { genre: 'Western' }), class: "filter-btn" do %>
                    <p><i class="fas fa-hat-cowboy"></i> Western </p>
                  <%# <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
