

<!-- Scrollable modal -->

<div class="modal fade genre-modal" id="genresModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Categories</h5>
      </div>
      <div class="modal-body">
        <div class="filter-bar-container">
          <div class="filter-bar">
            <div class="filter-bar-inner">
                  <%= link_to movies_path(genre_id: 28), class: "filter-btn" do %>
                    <p><i class="fas fa-fist-raised"></i> Action </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 12), class: "filter-btn" do %>
                    <p><i class="fas fa-sailboat"></i> Adventure </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 16), class: "filter-btn" do %>
                    <p><i class="fas fa-face-smile-beam"></i> Animation </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 35), class: "filter-btn" do %>
                    <p><i class="fas fa-masks-theater"></i> Comedy </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 18), class: "filter-btn" do %>
                    <p><i class="fas fa-face-sad-cry"></i> Drama </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 14), class: "filter-btn" do %>
                    <p><i class="fas fa-magic"></i> Fantasy </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 36), class: "filter-btn" do %>
                    <p><i class="fas fa-landmark"></i> History </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 27), class: "filter-btn" do %>
                    <p><i class="fas fa-ghost"></i> Horror </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 10749), class: "filter-btn" do %>
                    <p><i class="fas fa-heart"></i> Romance </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 878), class: "filter-btn" do %>
                    <p><i class="fas fa-rocket"></i> Sci-Fi </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 53), class: "filter-btn" do %>
                    <p><i class="fas fa-skull-crossbones"></i> Thriller </p>
                  <% end %>
                  <%= link_to movies_path(genre_id: 37), class: "filter-btn" do %>
                    <p><i class="fas fa-hat-cowboy"></i> Western </p>
                  <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
