

    <div class="header">
        <%= link_to dashboard_path do %>
             <%if  current_user.nil? %>
             <img class="avatar-bordered" alt="avatar-bordered" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ24DB9YaxDSdUTa-R7YH9UJD96A-3yMf2lw&s">
            <% else %>
            <%= cl_image_tag(current_user.photo.key, class: "avatar-bordered", alt: "avatar-bordered") %>

            <% end %>

        <% end %>


        <div class="greeting">
          <% if current_user.nil? %>
            <h1>Hello Guest</h1>
          <% else %>
            <h1>Hello <%= "#{current_user.first_name}"%></h1>
            <span>Let's watch your favorite movie</span>
          <% end %>

        </div>
        <div class="favorite">
        <%= link_to preferences_dashboard_path do %>
            <i class="fa-solid fa-heart" style="color: #ec1515;"></i>
        <% end %>
         </div>
    </div>

    <%= render "shared/searchbar" %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">We’ll Make You an Offer You Can't Refuse</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Surprise !</a>
      </div>
    </div>

    <hr>

    <div class="mostpopular">
      <div class="header">
        <h2>Most Popular</h2>
      <%= link_to "See All", movies_path(most_popular: true), class: "see-all" %>
      </div>
       <div class="movies">
        <% @most_popular["results"].each do |result| %>
          
          <%= link_to movie_path(result["original_title"]) do %>

            <div class="movie">
              <div class="rating">
                <span>⭐ <%= result["vote_average"] %></span>
              </div>
              <%= image_tag "https://image.tmdb.org/t/p/w200#{result['poster_path']}", alt: result["title"] %>
              <p><%= @genres[result["genre_ids"].first] %></p>
            </div>          
          <% end %>
        <% end %>
      </div>
    </div>

    <hr>

    <div class="toprating">
        <div class="header">
            <h2>Top rating</h2>
          <%= link_to "See All", movies_path(top_rated: true), class: "see-all" %>
        </div>
        <div class="movies">
        <% @top_rating["results"].each do |result| %>

        <%= link_to movie_path(result["original_title"]) do %>

          <div class="movie">
            <div class="rating">
              <span>⭐ <%= result["vote_average"] %></span>
            </div>
            <%= image_tag "https://image.tmdb.org/t/p/w200#{result['poster_path']}", alt: result["title"] %>
            <p><%= @genres[result["genre_ids"].first] %></p>
          </div>

          <% end %>

        <% end %>
      </div>
    </div>


    <hr>

    <div class="upcoming">
        <div class="header">
            <h2>Upcoming</h2><h6>and recently released</h6>
          <%= link_to "See All", movies_path(upcoming: true), class: "see-all" %>
        </div>
        <div class="movies">
        <% @upcoming["results"].each do |result| %>

        <%= link_to movie_path(result["original_title"]) do %>

          <div class="movie">
             <div class="release">
                    <span><%= result["release_date"] %></span>
              </div>
            <%= image_tag "https://image.tmdb.org/t/p/w200#{result['poster_path']}", alt: result["title"] %>
            <p><%= @genres[result["genre_ids"].first] %></p>
          </div>

          <% end %>
          
        <% end %>

      </div>
    </div>



<%# ------------- \/ Keep out of contaitner \/ --------------------------%>

<%= render "shared/genre_modal" %>
