

    <div class="header">
        <%= link_to dashboard_path do %>
            <%= cl_image_tag(current_user.photo.key, class: "avatar-bordered", alt: "avatar-bordered") %>
            <%# <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> %>
        <% end %>
        <div class="greeting">
            <h1>Hello Mathieu</h1>
            <span>Let's watch your favorite movie</span>
        </div>
        <div class="favorite">
        <%= link_to preferences_dashboard_path do %>
            <i class="fa-solid fa-heart" style="color: #ec1515;"></i>
        <% end %>
         </div>
    </div>

    <%= render "shared/searchbar" %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">We’ll Make You an Offer You Can't Refuse</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Surprise !</a>
      </div>
    </div>

    <hr>

    <div class="mostpopular">
      <div class="header">
        <h2>Most Popular</h2>
      <a href="#" class="see-all">See All</a>
      </div>
       <div class="movies">
        <% if current_user %>
        <% @most_popular["results"].each do |result| %>
          <div class="movie">
            <div class="rating">
              <span>⭐ <%= result["vote_average"] %></span>
            </div>
            <%= image_tag "https://image.tmdb.org/t/p/w200#{result['poster_path']}", alt: result["title"] %>
            <p><%= @genres[result["genre_ids"].first] %></p>
          </div>
        <% end %>
      </div>
    </div>

    <hr>

    <div class="toprating">
        <div class="header">
            <h2>Top rating</h2>
            <a href="#" class="see-all">See All</a>
        </div>
        <div class="movies">
        <% @top_rating["results"].each do |result| %>
          <div class="movie">
            <div class="rating">
              <span>⭐ <%= result["vote_average"] %></span>
            </div>
            <%= image_tag "https://image.tmdb.org/t/p/w200#{result['poster_path']}", alt: result["title"] %>
            <p><%= @genres[result["genre_ids"].first] %></p>
          </div>
        <% end %>
      </div>
    </div>


    <hr>

    <div class="upcoming">
        <div class="header">
            <h2>Upcoming</h2><h6>and recently released</h6>
            <a href="#" class="see-all">See All</a>
        </div>
        <div class="movies">
        <% @upcoming["results"].each do |result| %>
          <div class="movie">
             <div class="release">
                    <span><%= result["release_date"] %></span>
              </div>
            <%= image_tag "https://image.tmdb.org/t/p/w200#{result['poster_path']}", alt: result["title"] %>
            <p><%= @genres[result["genre_ids"].first] %></p>
          </div>
        <% end %>
        <% end %>

      </div>
    </div>



<%# ------------- \/ Keep out of contaitner \/ --------------------------%>

<%= render "shared/genre_modal" %>

