<div class="container">

<%# faire un avatar cloudinary %>
<%# faire les chemins des liens %>
<div class="card-profile" >
  <div class="avatar-container" data-controller="avatar" data-action="click->avatar#changeavatar" >
      <i id="pen" class="fa-solid fa-pen btn"  ></i>
      <%= cl_image_tag current_user.photo.key, crop: :fill, class:"avatar-profile" %>
      <div class="d-none" >
        <%= simple_form_for current_user, data: { avatar_target: "form" } do |f| %>
          <%= f.input :photo, as: :file, input_html: { data: { avatar_target: "input", action:"change->avatar#upload" } } %>
          <%= f.submit %>
        <% end %>
      </div>
  </div>
<div class="profile-infos">
<h2 ><%=current_user.first_name%></h2>
<p><%=current_user.email%></p>
</div>
</div>

<div class="account-profile">
  <h2><%= "Account" %></h2>
  <hr>
  <%= link_to dashboard_path do %>
    <span class="icon-circle-account"><i class="fa-solid fa-user"></i></span>
    <p>Member</p>
  <% end %>
</div>


<div class="movhint-liked-profile" >
<h2>MovHint</h2>
<hr>
<%= link_to preferences_dashboard_path do%>
 <span class="icon-circle-liked"><i class="fa-solid fa-user"></i></span>
 <p>Movies / Actors</p>
 <% end %>
</div>

<div class="more-profile" >
<h2> More </h2>
<hr>
<%= link_to preferences_dashboard_path do%>
 <span class="icon-circle-more"><i class="fa-solid fa-shield"></i></span>
 <p>Legal and policies</p>
 <% end %>
 <hr>
<%= link_to preferences_dashboard_path do%>
  <span class="icon-circle-more"><i class="fa-solid fa-question"></i></span>
 <p>Help & Feedback</p>
 <% end %>
<hr>
<%= link_to preferences_dashboard_path do%>
  <span class="icon-circle-more"><i class="fa-solid fa-info"></i></span>
 <p>About Us</p>
 <% end %>



</div>
  <%= link_to "Log out", destroy_user_session_path, turbo: false, data: { turbo_method: :delete }, class:"btn-log" %>
</div>
